
.MAIN{
    /* background-color: antiquewhite; */
    /* background-image: url(../../assets/ana-frantz-y1TqsDClhKM-unsplash.jpg); */
    background: linear-gradient(to top, rgba(0,0,0,0.99)0,rgba(0,0,0,0.2)90%),url(../../assets/ana-frantz-y1TqsDClhKM-unsplash.jpg);
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;    
    display: grid;
    grid-template-rows: 0.5fr 3fr 1fr;
    margin: 0;
    padding: 0;
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: center; */
}
article{
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    margin-top: 5%;
    /* align-content: center; */
    
    /* text-align: center; */
    width: 50%;
    transform: translateX(50%);
    /* height: 50vh; */
    /* background-color: cornflowerblue; */
}

h5{
    color: rgb(223, 219, 4);
    float: left;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: 20px;
    /* background-color: blue; */
}
h1{
    font-size: 80px;
    color: white;
    font-family: serif;
    margin-left: 10%;
}
h6{
    color: white;
    text-align: left;
    margin-left: 10%;
}