@media  screen and (max-width:1000px) {
    h1{
        font-size: 60px;
    }
}
@media  screen and (max-width:750px) {
    h1{
        font-size: 45px;
    }
    h5{
        font-size: 15px;
    }
}
@media  screen and (max-width:550px) {
    article{
        width: 100%;
        transform: translateX(0%);
    }
    h1{
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
    }
}