
.HEADER {
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-around;
    /* background-color: chocolate; */
}
.nav-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* background-color: blue; */
}